{% extends 'base.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<div class="content px-3">
    <h1 class="display-4">Task Master</h1>
    <p>You are currently signed in as: <strong>{{ current_user.username }}</strong></p>
    <div class="task-box">
        {% if todos|length < 1 %}
        <h4 class="text-center mt-4">There are no tasks. Create one below!</h4>
        {% else %}
        <table class="table table-striped mt-4">
            <thead class="thead-dark">
                <tr>
                    <th style="width: 55%;">Task</th>
                    <th style="width: 10%;">Priority</th>
                    <th style="width: 20%;" class="text-center">Date Added</th>
                    <th style="width: 15%;" class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for todo in todos %}
                <tr>
                    <td>{{ todo.content }}</td>
                    <td>
                        <div class="task-priority">
                            {% set priority = todo.priority if todo.priority is not none else 1 %}
                            {% for i in range(1, 6) %}
                                <span class="{{ 'filled' if i <= priority else 'empty' }}">&#9733;</span>
                            {% endfor %}
                        </div>
                    </td>
                    <td class="text-center">{{ todo.date_created.date() }}</td>
                    <td class="text-center">
                        <a href="/update/{{todo.id}}" class="text-primary">Update</a> |
                        <a href="/delete/{{todo.id}}" class="text-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
        <form action="{{ url_for('dashboard') }}" method="POST" class="mt-4">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.content.label(class="form-label") }}
                {{ form.content(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.priority.label(class="form-label") }}
                <div class="star-rating">
                    {% for i in range(5, 0, -1) %}
                        <input type="radio" id="star{{ i }}" name="priority" value="{{ i }}" {% if form.priority.data == i or (form.priority.data is none and i == 1) %}checked{% endif %}>
                        <label for="star{{ i }}">&#9733;</label>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group form-buttons">
                {{ form.submit(class="btn btn-primary") }}
                <a href="{{ url_for('logout') }}" class="btn btn-secondary">Logout</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}
